# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# ======================
# Secrets / Config
# ======================
.env

# ======================
# IDE files
# ======================
.idea/

# ======================
# OS junk
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log